.home-header {
    background-color: #333333;
    color: #fff;
    text-transform: uppercase;
    padding: 1%;
}

.home-header ul {
    list-style-type: none;
    text-align: center;
}

.home-header ul li {
    display: inline-block;
    margin: 0px 2px 0px 20px;
    transition: all 0.3s linear;
    cursor: pointer;
}

.home-header ul li:hover {
    text-decoration: overline;
    color: #ff9900;
}