.main-navbar {
    background-color: #333333;
    color: #fff;
    padding: 1.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    border-bottom: 5px solid #ff9900;
}

.main-navbar-col1 h1 {
    font-size: 36px;
    text-decoration: overline;
    color: #ff9900;
}

.main-navbar-col2 ul {
    list-style-type: none;
}

.main-navbar-col2 ul li {
    display: inline-block;
    padding: 10px;
    margin-left: 20px;
    transition: all 0.3s linear;
    cursor: pointer;
}

.main-navbar-col2 ul li:hover {
    background-color: #ff9900;
    color: #333333;
}

.active-tab {
    background-color: #ff9900;
    color: #333333;
}

.active-tab:hover {
    transition: none;
}